.movies-card-container {
    padding: 70px 70px 80px;
    display: grid;
}

.movies-card-container__list {
    display: grid;
    gap: 37px 24px;
    grid-template-columns: repeat(3, 364px);
    grid-template-rows: repeat(auto-fit, 281px);
    margin: 0 auto 60px;
}

.movies-card-container__more-button {
    height: 36px;
    background-color: #2F2F2F;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.movies-card-container__more-button:hover {
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .movies-card-container {
        padding: 70px 30px 80px;
    }

    .movies-card-container__list {
        margin: 0 auto 80px;
        gap: 30px 30px;
        grid-template-columns: repeat(2, 339px);
        grid-template-rows: repeat(auto-fit, 262px);
    }
}

@media screen and (max-width: 320px) {
    .movies-card-container {
        padding: 40px 10px 80px;
    }

    .movies-card-container__list {
        margin: 0 auto 76px;
        gap: 14px;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(auto-fit, 237px);
    }
}