.about-project {
    margin: 0;
    padding: 110px 70px;
    min-height: 608px;
    box-sizing: border-box;
}

.about-project__title {
    margin: 0;
    padding-bottom: 23px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
    border-bottom: solid 1px #DADADA;
}

.about-project-desc {
    margin: 70px 0 110px;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 550px));
    justify-content: space-between;
    row-gap: 26px;
}

.about-project-desc__title {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.8px;
}

.about-project-desc__subtitle {
    margin: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.project-progress {
    display: grid;
    grid-template-columns: 228px 912px;
    grid-template-rows: repeat(2, 36px);
}

.project-progress__duration {
    margin: 0;
    background: #303030;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-progress__duration:first-child {
    color: #000;
    background: #3DDC84;
}

.project-progress__desc {
    margin: 14px 0 0;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .about-project {
        padding: 90px 50px;
        min-height: 585px;
    }

    .about-project-desc {
        margin: 70px 0 93px;
        grid-template-columns: repeat(2, minmax(auto, 319px));
        row-gap: 22px;
    }

    .about-project-desc__subtitle {
        font-size: 12px;
        line-height: 18px;
    }

    .project-progress {
        grid-template-columns: 140px 528px;
    }

    .project-progress__desc {
        color: #A0A0A0;
    }
}

@media screen and (max-width: 320px) {
    .about-project {
        padding: 70px 18px 69px;
        min-height: 641px;
    }

    .about-project__title {
        padding-bottom: 28px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-project-desc {
        margin-top: 61px;
        margin-bottom: 60px;
        row-gap: 16px;
        grid-template-columns: calc(100vw - 40px);
        grid-template-areas:
            "about-project-desc__title-first"
            "about-project-desc__subtitle-first"
            "about-project-desc__title-last"
            "about-project-desc__subtitle-last";
    }

    .about-project-desc__title {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-project-desc__title:nth-child(1) {
        grid-area: about-project-desc__title-first;
    }

    .about-project-desc__title:nth-child(2) {
        grid-area: about-project-desc__title-last;
        margin-top: 40px;
    }

    .about-project-desc__subtitle {
        line-height: 1600px;
    }

    .about-project-desc__subtitle:nth-child(3) {
        grid-area: about-project-desc__subtitle-first;
    }

    .about-project-desc__subtitle:nth-child(4) {
        grid-area: about-project-desc__subtitle-last;
    }

    .about-project-desc__subtitle {
        font-size: 11px;
        line-height: 16px;
    }

    .project-progress {
        grid-template-columns: 100px 184px;
        grid-template-rows: repeat(2, 35px);
    }

    .project-progress__duration {
        font-size: 11px;
    }

    .project-progress__desc {
        margin-top: 10px;
        font-size: 11px;
    }
}